@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  position: relative;
  overflow-x: clip;
}

}

