@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    width: 100%;
    max-width: 100vw;
    overflow-x: hidden; /* vẫn nên giữ cho an toàn */
  }

  * {
    box-sizing: border-box;
    max-width: 100%;
  }
}

